body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
  background-color: #000;
}

/* 8th Wall Loading Screen Customization (Optional) */
#recenterButton {
  background-color: #00FFCC !important;
  color: #000 !important;
  border-radius: 50px !important;
  font-weight: bold !important;
}
